<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!-- the application context definition for the springapp DispatcherServlet -->

    <bean name="mainController" class="com.test.mastermind.web.MainController">		
    </bean>
    
    <bean name="processController" class="com.test.mastermind.web.ProcessController">		
    </bean>
    
    <bean name="simpleJsonGetController" 
          class="com.test.mastermind.web.SimpleJsonGetController"/>

	<bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/main.html">mainController</prop>
				<prop key="/process.html">processController</prop>
				<prop key="/hello.html">simpleJsonGetController</prop>				
			</props>
		</property>
	</bean>

	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
        
    <bean id="specialViewResolver"
		class="org.springframework.web.servlet.view.ResourceBundleViewResolver">
		<property name="order" value="0" />
		<property name="basename" value="views" />
	</bean>

</beans>